services:
  db:
    image: postgres:16
    restart: always
    environment:
      TZ: Asia/Tokyo
      POSTGRES_PASSWORD: password
      POSTGRES_DB: myapp_development # 初期作成DBを指定
    volumes:
      - postgresql_data:/var/lib/postgresql
    ports:
      - 5432:5432
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d myapp_development -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  web:
    build:
      context: .
      dockerfile: Dockerfile.dev
    command: ./bin/dev
    tty: true
    stdin_open: true
    volumes:
      - .:/myapp
      - bundle_data:/usr/local/bundle:cached
      - node_modules:/myapp/node_modules
    environment:
      TZ: Asia/Tokyo
      POSTGRES_HOST: db
      POSTGRES_PASSWORD: password
    ports:
      - '3000:3000'
    depends_on:
      db:
        condition: service_healthy

volumes:
  bundle_data:
  postgresql_data:
  node_modules: