<footer id="footer" class="py-4 mt-auto bg-light border-top">
  <div class="container-fluid px-4">
    <div class="row">
      <div class="col-12 text-center text-secondary" style="font-size: 0.75rem; line-height: 1.5;">
        <div class="copyright">
          <p class="mb-0">
            本アプリは「 株式会社アークライト 」及び「株式会社KADOKAWA」が権利を有する『クトゥルフ神話TRPG』の二次創作物です。<br class="d-none d-md-inline">
            Call of Cthulhu is copyright ©1981, 2015, 2019 by Chaosium Inc. ;all rights reserved. <br>
            Arranged by Arclight Inc. Call of Cthulhu is a registered trademark of Chaosium Inc. <br>
            PUBLISHED BY KADOKAWA CORPORATION 「クトゥルフ神話TRPG」
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>